<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ApkAnalyzePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.analysis.APK.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LJudge</servlet-name>
    <servlet-class>com.analysis.user.loginJudge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LJudge</servlet-name>
    <url-pattern>/loginJudgepatten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Message</servlet-name>
    <servlet-class>com.analysis.message.messageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/messagepatten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regest</servlet-name>
    <servlet-class>com.analysis.user.regest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regest</servlet-name>
    <url-pattern>/regestpatten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.analysis.APK.saerch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/searchpatten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.analysis.user.Sign_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/signoutpatten</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AStatistics</servlet-name>
  	<servlet-class>com.analysis.statistic.ApkStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AStatistics</servlet-name>
  	<url-pattern>/AStatistics</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UStatistics</servlet-name>
  	<servlet-class>com.analysis.statistic.UserStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UStatistics</servlet-name>
  	<url-pattern>/UStatistics</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userm</servlet-name>
  	<servlet-class>com.analysis.user.userm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userm</servlet-name>
  	<url-pattern>/usermanagerpattern</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.analysis.cfg.SecurityFilter</filter-class>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>permitUrls</param-name>
      <param-value>/,/loginJudgepatten,/login.jsp,/regest.jsp,/regestpatten,/</param-value>
    </init-param>
    <init-param>
      <param-name>gotoUrl</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>